.main {
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.films{
    display: flex;
    width: 2340px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.film{
    margin-top: 40px;
}

